body {
  margin: 0px;
  background-color: #101010;
  color: #bbb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  overflow: hidden;
}

#shooting-container {
  width: 100vw;
  height: 100vh;
}

#info {
  font-size: 16px;
  position: absolute;
  margin-top: 50px;
  padding: 10px;
  text-align: left;
}
